/* ------------------------
Navigation bar starts here
---------------------------*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000d0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #FF686B;
}

/* --------------------------
Navigation bar ends here
----------------------------- */
:root{
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

body{
    background-color: darkkhaki;
}

h1{
    color: #FF686B;
    text-align: center;
}
h2{
    color: #FF686B;
    padding: 2em;
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
     box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     transition: all 0.3s ease;
     z-index: -1;
}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}

/* .card {
    background-color: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 1409px;
    margin: 1em;
    max-height: 1409px;
} */

#btn-1{
    border-radius: 13px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
    height: 29px;
    color: #FF686B;
    background-color: darkkhaki;
    cursor: pointer;
    border: none;
    display: inline-block;
    transition: all 0.3s ease;
    line-height: 1.5;
    box-shadow: 0 1rem 1.25rem 0 rgb(255 215 0 / 50%),
                0 -0.25rem 1.5rem rgb(189 183 107) inset,
                0 0.75rem 0.5rem rgb(240 230 140 / 69%) inset;
}
#btn-1:after{
    border-radius: 13px;
}

/* .flex-container{
    display: flex;
    background-color: #000000d0;
    padding: 6em;
}
.flex-container > .box {
    background-color: darkkhaki;
    margin: 10px;
    width: 250px;
    height: 230px;
    padding: 20px;
    font-size: 30px;
}
.flex-container .one{

} */
.img-box{
    padding: 15px;
    border-radius: 5px;
}
.img-box #camera{
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}
.takesnap {
display: flex;
flex-direction: column;
} 
.booth_main {
flex: 3;
display: flex;
padding: 0;
}
.webcam {
flex: 3;
display: flex;
flex-direction: column;
width: 45%;
}
.webcam_video {
flex: 3;
}
.webcam_input {
flex: 1;
}

.canvas {
flex: 3;
width: 45%;
display: flex;
flex-direction: column;
}
.canvas_snap {
flex: 3;
}
.canvas_button {
flex: 1;
}

.stickers{
flex: 1;
width: 10%;
position: relative;
padding: 5px;
}

 footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    background-color: #000000d0;
    color: white;
    text-align : center;
    color: #FF686B;
}