:root{
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: darkkhaki;
}
h2{
    color: #FF686B;
}




.hover-in-shadow{
    position: relative;
    z-index: 1;
}
.hover-in-shadow:hover{
     box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after{
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     transition: all 0.3s ease;
     z-index: -1;
}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}

.card {
    background-color: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.text-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.input .text-input {
   border-radius: 30px;
    font-size: 18px;
    padding: 0 15px;
    height: 39px;
    width: 100%;
    display: block;
    color: #FF686B;
    border: none;
    text-emphasis-color: #FF686B;
}
p.text a:hover, p.text a:visited, p.text a{
	color: #FF686B;
	font-family: 'Merienda One', cursive;
	text-decoration: none;
	font-size:1.2vw;
    font-weight: 700;
    cursor: pointer;
}
p.text{
    color: darkkhaki;
}
.text, a {
    text-align: right;
}
.sign{
    top: 5%;
}

.btn-1 {
    border-radius: 13px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: 500;
    height: 29px;
    color: #FF686B;
    background-color: darkkhaki;
    cursor: pointer;
    border: none;
    display: inline-block;
    transition: all 0.3s ease;
    line-height: 1.5;
    box-shadow: 0 1rem 1.25rem 0 rgb(255 215 0 / 50%),
                0 -0.25rem 1.5rem rgb(189 183 107) inset,
                0 0.75rem 0.5rem rgb(240 230 140 / 69%) inset;
}
.btn-1:after{
    border-radius: 13px;
}

.btn {
    text-align: center;
}

/* -------------------
footer starts here
---------------------- */

 footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000d0;
    color: white;
    text-align : center;
    color: #FF686B;
}
/* -------------------
footer end here
---------------------- */

